bin
.vs
*.csproj.user
*/bin/*
*/obj/*
TestJeux/sortie/*
/DiceRollerServer/wwwroot/media/Maps/Slime_cave.png
/DiceRollerServer/wwwroot/media/Maps/Slime_cave_2.png
/DiceRollerServer/wwwroot/media/Portraits/Kirae.png
